%P
= form_for [:team,  chat, Comment.new ], remote: true do |form|
  = form.text_area :content, size: '100x20', style: "width: 100%; height: 100px"
  %br/
  = form.submit 'Post comment'
  = link_to 'Close', close_team_chat_path(chat), method: :patch
